html{
	position: relative;
}
body{
	box-sizing: content-box;
	overflow-y: scroll;
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
}
html.js-drawer--show,
html.js-drawer--show body{
	overflow: hidden;
	height: 100%;
}
.PXG-drawer__panel{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, 0 );
	-webkit-transform: translateX( -40px );
	    -ms-transform: translateX( -40px );
	        transform: translateX( -40px );
	-webkit-transition: -webkit-transform .4s;
	        transition:         transform .4s;
}
html:not( .js-drawer--show ) .PXG-drawer__panel {
	-webkit-animation-name: zIndexOut;
	        animation-name: zIndexOut;
	-webkit-animation-duration: .4s;
	        animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
}
html.js-drawer--show .PXG-drawer__panel {
	margin-left: 0;
	z-index: 2;
	-webkit-transform: translateX( -100% );
	    -ms-transform: translateX( -100% );
	        transform: translateX( -100% );
}
.PXG-drawer__panelViewport {
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-left: 40px;
	margin: 0 0 0 auto;
	-webkit-overflow-scrolling: touch;
}

.PXG-drawer__panelBody{
	box-sizing: border-box;
	min-height: 100%;
	box-shadow: -2px 2px 4px rgba( 0, 0, 0, 0 );
	-webkit-transition: box-shadow .4s;
	        transition: box-shadow .4s;
}
html.js-drawer--show .PXG-drawer__panelBody{
	box-shadow: -2px 2px 4px rgba( 0, 0, 0, 0.3 );
}

.PXG-drawer__bg {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 0, 0, 0, 0 );
	-webkit-transition: background .4s;
	        transition: background .4s;
}
html:not( .js-drawer--show ) .PXG-drawer__bg {
	-webkit-animation-name: bgOut;
	        animation-name: bgOut;
	-webkit-animation-duration: .4s;
	        animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
}
html.js-drawer--show .PXG-drawer__bg {
	z-index: 1;
	background: rgba( 0, 0, 0, 0.3 );
}


.PXG-drawer__bg:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: #FFF;
	-webkit-transform: translateX( 100% );
	    -ms-transform: translateX( 100% );
	        transform: translateX( 100% );
	-webkit-transition: -webkit-transform .4s;
	        transition:         transform .4s;
}
html.js-drawer--show .PXG-drawer__bg:after{
	-webkit-transform: translateX( 40px );
	    -ms-transform: translateX( 40px );
	        transform: translateX( 40px );
}

@-webkit-keyframes bgOut {
	  0% { z-index:  1; }
	 99% { z-index:  1; }
	100% { z-index: -1; }
}

@keyframes bgOut {
	  0% { z-index:  1; }
	 99% { z-index:  1; }
	100% { z-index: -1; }
}

@-webkit-keyframes zIndexOut {
	  0% { z-index:  2; }
	 99% { z-index:  2; }
	100% { z-index: -1; }
}

@keyframes zIndexOut {
	  0% { z-index:  2; }
	 99% { z-index:  2; }
	100% { z-index: -1; }
}

