html{
	position: relative;
}
body{
	box-sizing: content-box;
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
	transition: left .4s, margin-left .4s;
}
html.js-sidePanel--show,
html.js-sidePanel--show body{
	overflow: hidden;
	height: 100%;
}
html.js-sidePanel--show body{
	left: -100%;
	margin-left: 40px;
}
.PXG-sidePanel{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: -40px;
	background: rgba( 0, 0, 0, 0 );
	-webkit-transform: translate( 0, 0, 0 );
	   -moz-transform: translate( 0, 0, 0 );
	    -ms-transform: translate( 0, 0, 0 );
	        transform: translate( 0, 0, 0 );
	transition: left .4s, margin-left .4s;
}
.PXG-sidePanel__inner{
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-left: 40px;
	margin: 0 0 0 auto;
	-webkit-overflow-scrolling: touch;
}
html.js-sidePanel--show .PXG-sidePanel{
	z-index: 0;
	left: 0;
	margin-left: 0;
}
